@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes gradient-loop-css {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@keyframes carousel-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes gradient-loop {
  100% {
    transform: rotate(360deg);
  }
}

@theme {
  --color-primary-dark: #0b040c;
  --color-gray-dark: #3b3b3b;
  --color-gray-md: #626262;
  --color-gray-lite: #c0c0c0;
  --color-primary-color1: #c261d1;
  --color-primary-color2: #6184d1;
  --font-sharp: "Aldrich", sans-serif;
  --breakpoint-navbar: 65.3rem;
  --animate-carousel-loop: carousel-loop 20s linear infinite;
}

@layer base {
  :root {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  body {
    @apply bg-primary-dark text-white;
  }
  a {
    @apply inline-block cursor-pointer;
  }
  span {
    @apply inline-block;
  }
  h1 {
    @apply text-3xl md:text-5xl lg:text-6xl font-semibold tracking-wide text-center;
  }
  h2 {
    @apply text-2xl md:text-4xl lg:text-5xl font-semibold tracking-wide text-center;
  }
  button {
    @apply cursor-pointer;
  }
  img {
    @apply w-full h-full object-cover inline-block;
  }
}

@layer components {
  .gradient-border-css {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 0.25rem;
  }
  .gradient-border-css::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #58569f;
    background-image: conic-gradient(
      from var(--angle),
      #96569f 0%,
      #58569f 25%,
      #569f97 50%,
      #58569f 75%,
      #96569f 100%
    );
    animation: gradient-loop-css 3s linear infinite;
    z-index: -1;
  }

  .grad-border {
    transform-origin: 50% 50%;
    animation: gradient-loop 10s linear infinite;
  }
}

@layer utility {
  .fade-in-out {
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
